<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Provided locals becouse if the variable is incorrect provides default value -->
    <h1>User: <%= locals.rendertext || "USER Default"%></h1>
    <h2>ID: <%= locals.id || "ID Default"%></h2>
</body>
</html>