<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User: <%= locals.user || "DefaultUser"%></h1>
    <h2>URL: <%= locals.userurl || "localhost"%></h2>
</body>
</html>